/tools/license-generator/target/original-license-generator-1.0.0.jar
/tools/license-generator/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/tools/license-generator/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/tools/license-generator/target/license-generator-1.0.0.jar
